.cart-items{
    padding: 10px;
    list-style-type: none;
}
.cart-summary{
    padding: 10px;
    text-align: end;
    margin-right: 60px;
    display: flex;
    flex-direction: column;

}
.price-container{
    display: flex;
    align-items: center;
}
.total-price{
    font-size: 26px;
}
.cart-total{
    display: flex;
    justify-content: end;
}
.checkout-btn{
    background-color: blue;
    padding: 10px;
    border-width: 0px;
    color: #fff;
    width: 180px;
}
.text-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px;
}
.remove-text{
    color: blue;
}
.remove-container{
    background-color: transparent;
    border-width: 0px;
    cursor: pointer;
}