.products-container{
   display: flex;
   width: 100%;
   justify-content: space-between;
 
  
}
.products-sections-view{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 30px;
    width: 70%;
}
.item-list{
    list-style-type: none;
    padding: 20px;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
}
.products-loader-container{
    display: flex;
    align-items: center;
    justify-content: center;
}