.product-item{
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    padding: 12px;
    margin-bottom: 48px;
}
.title-name{
    color: #171f46;
    font-family: 'Roboto';
    font-size: 24px;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 8px;
}
.product-image{
    max-height: 350px;
    border-radius: 6px;
    width: 100%;
    max-width: 100%;
}
.rating-container{
    background-color: #3b82f6;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    width: 80px;
}
.star{
    height: 20px;
    width: 20px;
}
.product-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.price{
    font-weight: 600;
    font-size: 18px;
}