.Login-page{
    width: 100%;
    margin-top: 40px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.website-logo{
    height: 40px;

}
.website-login{
    height: 350px;
}
.login-form-container{
    padding: 20px;
    height: 320px;
    width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 8px rgba(211, 211, 211, 0.6);
}
.user-input{
    padding: 10px;
    width: 250px;
    background-color: rgb(210, 210, 241,0.2);
    border-color: #eae7e7;
    border-width: 0px;
    border-radius: 5px;
}
.login-card div{
    margin-top: 10px;
    padding: 5px;
}
.Name{
    font-weight: 450;
    font-family: sans-serif;
    margin: 5px;
    font-size: 14px;
}
.submit-button{
    background-color: blue;
    padding: 10px;
    margin-top: 15px;
    border-width: 0px;
    border-radius: 5px;
    width: 250px;
    color: #fff;
}
.login-image-container{
    width: 50%;
}
.right-side-section{
    width: 30%;
}