.filters-container{
    width: 20%;
    margin-left: 20px;
    margin-right: 10px;
    padding: 10px;
}
.input-container{
    margin-top: 60px;  
    display: flex;
    align-items: center;
    background-color: #f1f5f9;
    border-radius: 8px;
    padding: 16px 16px 8px 8px;
}
.category-section{
    padding: 10px;
    margin-top: 10px;
}

.category-list{
    list-style-type: none;
    margin-top: 10px;
}
.search-input{
  background-color: #f1f5f9;
  color: #0f172a;
  border: none;
  font-size: 16px;
  font-weight: 500;
  outline: none;
  flex-grow: 1;
  font-family: Roboto;
}
.category-section li {
    font-size: 20px;
    cursor: pointer;
}
.star-rating{
    height: 30px;
}
.rating-item{
    display: flex;
    margin: 10px;
    cursor: pointer;
}
.click-button{
    background-color: transparent;
    border: solid 1px blue;
    color:blue ;
    margin-left: 28px;
    border-radius: 5px;
    padding: 10px;
    width: 220px;
    cursor: pointer;
}