.NavBar-container{
    display: flex;
    justify-content: space-between;
    padding: 12px;
    align-items: center;
    width: 100%;
    height: 14vh;
    background-color: #fffefe;
}
.logo-container{
    width: 70%;
}
.header-links{
    width: 30%;
}

.logo{
    height: 50px;
    padding: 10px;
}
.nav-links{
    list-style-type: none;
    display: flex;
    align-items: center;
}
.nav-links li{
    margin-left: 20px;
    margin-right: 20px;
    color: #000;
    font-weight: 600;
}
.nav-links button{
    background-color: blue;
    color: #fff;
    padding: 8px;
    border-width: 0px;
    border-radius: 5px;
    width: 80px;
}