.products-header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 100%;
    display: flex;
   
    padding: 20px;
}

.filter-container{
    display: flex;
    align-items: center;
    gap: 10px;
    
}
.products-heading{
    font-size: 26px;
}
.filter-options{
    height: 50px;
    font-size: 18px;
    border-width: 0px;
    outline: none;
    cursor: pointer;
}
.sort-heading{
    font-size: 23px;
    font-weight: 150;
    font-family: Roboto;
}